# Exhaustive Feature Selection

In [2]:
import numpy as np
import pandas as pd
import pandas_profiling as pp
import calendar as cal
import matplotlib.pyplot as plt

from sklearn.model_selection import cross_val_score,train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

from sklearn.feature_selection import RFE
from sklearn.preprocessing import MinMaxScaler

from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import GridSearchCV

from mlxtend.feature_selection import SequentialFeatureSelector as sfs
from mlxtend.plotting import plot_sequential_feature_selection as plot_sfs
from mlxtend.feature_selection import ExhaustiveFeatureSelector as EFS


from IPython.core.display import HTML
%matplotlib inline

C:\Users\Abhinav\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [3]:
# Read data
df = pd.read_csv('https://s3.us-east-2.amazonaws.com/ads-demo1/E_Dataset.csv',parse_dates=['date'])

In [4]:
df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.530000,6.600000,733.500000,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.560000,6.483333,733.600000,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.500000,6.366667,733.700000,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.400000,6.250000,733.800000,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.400000,6.133333,733.900000,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
5,2016-01-11 17:50:00,50,40,19.890000,46.026667,19.200000,44.500000,19.790000,44.933333,18.890000,...,17.000000,45.290000,6.016667,734.000000,92.000000,5.333333,43.833333,4.800000,44.919484,44.919484
6,2016-01-11 18:00:00,60,50,19.890000,45.766667,19.200000,44.500000,19.790000,44.900000,18.890000,...,17.000000,45.290000,5.900000,734.100000,92.000000,5.000000,40.000000,4.700000,47.233763,47.233763
7,2016-01-11 18:10:00,60,50,19.856667,45.560000,19.200000,44.500000,19.730000,44.900000,18.890000,...,17.000000,45.290000,5.916667,734.166667,91.833333,5.166667,40.000000,4.683333,33.039890,33.039890
8,2016-01-11 18:20:00,60,40,19.790000,45.597500,19.200000,44.433333,19.730000,44.790000,18.890000,...,17.000000,45.290000,5.933333,734.233333,91.666667,5.333333,40.000000,4.666667,31.455702,31.455702
9,2016-01-11 18:30:00,70,40,19.856667,46.090000,19.230000,44.400000,19.790000,44.863333,18.890000,...,17.000000,45.290000,5.950000,734.300000,91.500000,5.500000,40.000000,4.650000,3.089314,3.089314
10,2016-01-11 18:40:00,230,70,19.926667,45.863333,19.356667,44.400000,19.790000,44.900000,18.890000,...,17.000000,45.290000,5.966667,734.366667,91.333333,5.666667,40.000000,4.633333,10.298729,10.298729
11,2016-01-11 18:50:00,580,60,20.066667,46.396667,19.426667,44.400000,19.790000,44.826667,19.000000,...,16.890000,45.290000,5.983333,734.433333,91.166667,5.833333,40.000000,4.616667,8.827838,8.827838
12,2016-01-11 19:00:00,430,50,20.133333,48.000000,19.566667,44.400000,19.890000,44.900000,19.000000,...,16.963333,45.290000,6.000000,734.500000,91.000000,6.000000,40.000000,4.600000,34.351142,34.351142
13,2016-01-11 19:10:00,250,40,20.260000,52.726667,19.730000,45.100000,19.890000,45.493333,19.000000,...,16.890000,45.326667,6.000000,734.616667,90.500000,6.000000,40.000000,4.516667,19.205186,19.205186
14,2016-01-11 19:20:00,100,10,20.426667,55.893333,19.856667,45.833333,20.033333,47.526667,19.000000,...,16.890000,45.345000,6.000000,734.733333,90.000000,6.000000,40.000000,4.433333,38.492071,38.492071
15,2016-01-11 19:30:00,100,10,20.566667,53.893333,20.033333,46.756667,20.100000,48.466667,19.000000,...,16.890000,45.326667,6.000000,734.850000,89.500000,6.000000,40.000000,4.350000,24.884962,24.884962
16,2016-01-11 19:40:00,90,10,20.730000,52.660000,20.166667,47.223333,20.200000,48.530000,18.926667,...,16.890000,45.290000,6.000000,734.966667,89.000000,6.000000,40.000000,4.266667,35.880925,35.880925
17,2016-01-11 19:50:00,70,30,20.856667,53.660000,20.200000,47.056667,20.200000,48.447500,18.890000,...,16.890000,45.290000,6.000000,735.083333,88.500000,6.000000,40.000000,4.183333,49.595305,49.595305
18,2016-01-11 20:00:00,80,30,20.890000,51.193333,20.200000,46.330000,20.200000,48.193333,18.963333,...,16.890000,45.200000,6.000000,735.200000,88.000000,6.000000,40.000000,4.100000,19.001759,19.001759
19,2016-01-11 20:10:00,140,40,20.890000,49.800000,20.200000,46.026667,20.166667,47.633333,19.033333,...,16.890000,45.200000,6.000000,735.233333,87.833333,6.000000,40.000000,4.066667,38.872261,38.872261
20,2016-01-11 20:20:00,120,20,20.890000,48.433333,20.200000,45.722500,20.166667,47.300000,19.175000,...,16.890000,45.126667,6.000000,735.266667,87.666667,6.000000,40.000000,4.033333,46.735262,46.735262
21,2016-01-11 20:30:00,190,40,20.963333,47.633333,20.260000,45.530000,20.200000,47.026667,19.260000,...,16.890000,45.126667,6.000000,735.300000,87.500000,6.000000,40.000000,4.000000,10.607126,10.607126
22,2016-01-11 20:40:00,110,40,21.033333,47.063333,20.290000,45.223333,20.260000,46.826667,19.323333,...,16.890000,45.060000,6.000000,735.333333,87.333333,6.000000,40.000000,3.966667,32.583688,32.583688
23,2016-01-11 20:50:00,110,40,21.100000,46.596667,20.356667,44.963333,20.290000,46.633333,19.390000,...,16.890000,45.000000,6.000000,735.366667,87.166667,6.000000,40.000000,3.933333,6.277755,6.277755
24,2016-01-11 21:00:00,110,30,21.133333,46.060000,20.426667,44.760000,20.290000,46.433333,19.390000,...,16.890000,44.966667,6.000000,735.400000,87.000000,6.000000,40.000000,3.900000,13.361033,13.361033
25,2016-01-11 21:10:00,110,20,21.200000,45.800000,20.500000,44.760000,20.390000,46.223333,19.390000,...,16.890000,44.900000,5.933333,735.466667,87.166667,6.000000,40.000000,3.866667,19.305705,19.305705
26,2016-01-11 21:20:00,100,30,21.290000,45.900000,20.533333,45.090000,20.390000,46.090000,19.390000,...,16.890000,44.790000,5.866667,735.533333,87.333333,6.000000,40.000000,3.833333,0.669517,0.669517
27,2016-01-11 21:30:00,100,20,21.356667,45.826667,20.666667,45.163333,20.390000,46.090000,19.390000,...,16.890000,44.790000,5.800000,735.600000,87.500000,6.000000,40.000000,3.800000,19.119398,19.119398
28,2016-01-11 21:40:00,100,20,21.390000,45.690000,20.700000,45.060000,20.390000,46.090000,19.426667,...,16.890000,44.700000,5.733333,735.666667,87.666667,6.000000,40.000000,3.766667,43.484542,43.484542
29,2016-01-11 21:50:00,100,20,21.500000,45.333333,20.700000,44.933333,20.390000,46.060000,19.566667,...,16.890000,44.700000,5.666667,735.733333,87.833333,6.000000,40.000000,3.733333,17.017450,17.017450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19705,2016-05-27 13:10:00,280,0,25.033333,48.363333,26.528571,40.595714,28.496667,41.900000,24.500000,...,23.100000,46.500000,21.250000,756.050000,59.833333,1.166667,23.666667,13.100000,32.420348,32.420348
19706,2016-05-27 13:20:00,240,0,25.166667,48.156667,26.600000,40.940000,28.290000,41.966667,24.500000,...,23.100000,46.500000,21.400000,756.000000,59.666667,1.333333,23.333333,13.200000,49.189027,49.189027
19707,2016-05-27 13:30:00,250,0,25.323333,47.930000,26.600000,41.012857,28.200000,42.090000,24.533333,...,23.100000,46.522500,21.550000,755.950000,59.500000,1.500000,23.000000,13.300000,15.081162,15.081162
19708,2016-05-27 13:40:00,220,0,25.390000,47.656667,26.600000,41.036000,28.200000,42.030000,24.600000,...,23.100000,46.530000,21.700000,755.900000,59.333333,1.666667,22.666667,13.400000,45.226866,45.226866
19709,2016-05-27 13:50:00,230,0,25.500000,47.133333,26.600000,41.000000,28.200000,41.796667,24.600000,...,23.100000,46.530000,21.850000,755.850000,59.166667,1.833333,22.333333,13.500000,5.773431,5.773431
19710,2016-05-27 14:00:00,190,10,25.500000,47.060000,26.540000,41.000000,28.200000,41.530000,24.600000,...,23.100000,46.530000,22.000000,755.800000,59.000000,2.000000,22.000000,13.600000,41.515044,41.515044
19711,2016-05-27 14:10:00,160,0,25.600000,46.990000,26.512500,41.203750,28.200000,41.590000,24.633333,...,23.100000,46.530000,21.966667,755.800000,59.000000,2.000000,21.833333,13.550000,19.540642,19.540642
19712,2016-05-27 14:20:00,80,0,25.600000,46.730000,26.437143,41.384286,28.426667,41.430000,24.700000,...,23.100000,46.590000,21.933333,755.800000,59.000000,2.000000,21.666667,13.500000,16.977597,16.977597
19713,2016-05-27 14:30:00,60,0,25.566667,46.633333,26.370000,41.378000,28.566667,41.156667,24.700000,...,23.100000,46.626667,21.900000,755.800000,59.000000,2.000000,21.500000,13.450000,8.991420,8.991420
19714,2016-05-27 14:40:00,60,0,25.500000,46.360000,26.318571,41.264286,28.566667,40.663333,24.700000,...,23.100000,46.700000,21.866667,755.800000,59.000000,2.000000,21.333333,13.400000,40.409885,40.409885
19715,2016-05-27 14:50:00,60,0,25.500000,46.060000,26.350000,41.000000,28.426667,40.590000,24.666667,...,23.100000,46.590000,21.833333,755.800000,59.000000,2.000000,21.166667,13.350000,37.889086,37.889086
19716,2016-05-27 15:00:00,60,0,25.500000,45.933333,26.277143,41.000000,28.356667,40.560000,24.666667,...,23.100000,46.590000,21.800000,755.800000,59.000000,2.000000,21.000000,13.300000,17.123315,17.123315
19717,2016-05-27 15:10:00,70,0,25.500000,45.760000,26.200000,41.000000,28.290000,40.433333,24.700000,...,23.133333,46.590000,21.966667,755.750000,58.333333,2.000000,21.333333,13.283333,24.058432,24.058432
19718,2016-05-27 15:20:00,80,0,25.500000,45.626667,26.171429,41.000000,28.260000,40.260000,24.700000,...,23.133333,46.590000,22.133333,755.700000,57.666667,2.000000,21.666667,13.266667,9.538671,9.538671
19719,2016-05-27 15:30:00,80,0,25.500000,45.590000,26.100000,41.000000,28.200000,40.126667,24.700000,...,23.166667,46.590000,22.300000,755.650000,57.000000,2.000000,22.000000,13.250000,30.020685,30.020685
19720,2016-05-27 15:40:00,70,0,25.500000,45.522500,26.100000,41.051429,28.200000,40.200000,24.700000,...,23.100000,46.590000,22.466667,755.600000,56.333333,2.000000,22.333333,13.233333,23.851737,23.851737
19721,2016-05-27 15:50:00,100,0,25.500000,45.633333,26.080000,41.196000,28.133333,40.260000,24.700000,...,23.200000,46.590000,22.633333,755.550000,55.666667,2.000000,22.666667,13.216667,47.981309,47.981309
19722,2016-05-27 16:00:00,100,0,25.500000,45.730000,26.000000,41.428571,28.100000,40.433333,24.700000,...,23.200000,46.590000,22.800000,755.500000,55.000000,2.000000,23.000000,13.200000,18.215602,18.215602
19723,2016-05-27 16:10:00,90,0,25.500000,45.790000,26.000000,41.590000,28.100000,40.560000,24.700000,...,23.160000,46.590000,22.833333,755.450000,55.000000,2.166667,22.833333,13.233333,38.751594,38.751594
19724,2016-05-27 16:20:00,100,0,25.500000,45.933333,26.000000,41.652857,28.000000,40.700000,24.700000,...,23.200000,46.621429,22.866667,755.400000,55.000000,2.333333,22.666667,13.266667,32.306224,32.306224
19725,2016-05-27 16:30:00,220,0,25.426667,46.060000,26.000000,41.700000,28.000000,40.760000,24.700000,...,23.200000,46.700000,22.900000,755.350000,55.000000,2.500000,22.500000,13.300000,23.009520,23.009520
19726,2016-05-27 16:40:00,180,0,25.500000,46.530000,26.000000,41.725714,27.856667,40.500000,24.700000,...,23.200000,46.652857,22.933333,755.300000,55.000000,2.666667,22.333333,13.333333,25.296732,25.296732
19727,2016-05-27 16:50:00,120,0,25.500000,47.456667,26.000000,42.320000,27.663333,40.693333,24.700000,...,23.200000,46.718000,22.966667,755.250000,55.000000,2.833333,22.166667,13.366667,1.796395,1.796395
19728,2016-05-27 17:00:00,110,0,25.600000,47.193333,25.968571,42.528571,27.390000,41.030000,24.700000,...,23.200000,46.751429,23.000000,755.200000,55.000000,3.000000,22.000000,13.400000,18.248201,18.248201
19729,2016-05-27 17:10:00,90,0,25.533333,46.860000,25.978000,42.534000,27.323333,41.090000,24.700000,...,23.200000,46.745000,22.866667,755.200000,55.333333,3.166667,22.833333,13.366667,16.966162,16.966162
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.790000,22.733333,755.200000,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.790000,22.600000,755.200000,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.790000,22.466667,755.200000,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.817500,22.333333,755.200000,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.845000,22.200000,755.200000,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

# Feature Engineering

In [5]:
df['year'] = df['date'].dt.year
df['quarter'] = df['date'].dt.quarter
df['month'] = df['date'].dt.month
df['weekNumberInYear'] = df['date'].dt.week
df['dayOfMonth'] = df['date'].dt.day
df['dayInWeek'] = df['date'].dt.dayofweek.apply(lambda x : cal.day_name[x])
df['hourOfDay'] = df['date'].dt.hour
df['minute'] = df['date'].dt.minute

df['WeekendFlag'] = df['dayInWeek'].apply(lambda x : 1 if (x == 'Saturday') or (x == 'Sunday') else 0).astype('int64')
df['TotalSecondsMidnight'] = (df['date'].dt.hour * 3600) + (df['date'].dt.minute * 60) + (df['date'].dt.second)

dayInWeek = pd.get_dummies(df.dayInWeek,prefix='dayInWeek').astype('int64')
weekendflag = pd.get_dummies(df.WeekendFlag,prefix='weekendflag').astype('int64')

df = pd.concat([df,dayInWeek,weekendflag],axis=1)

In [6]:
features = ['Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 
            'T3','RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8','RH_8', 'T9', 'RH_9', 
            'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed','Visibility', 'Tdewpoint','TotalSecondsMidnight', 
            'dayInWeek_Friday','dayInWeek_Monday', 'dayInWeek_Saturday', 'dayInWeek_Sunday','dayInWeek_Thursday', 'dayInWeek_Tuesday', 'dayInWeek_Wednesday',
            'weekendflag_0', 'weekendflag_1']

In [7]:
df = df[features]

In [35]:
df

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,TotalSecondsMidnight,dayInWeek_Friday,dayInWeek_Monday,dayInWeek_Saturday,dayInWeek_Sunday,dayInWeek_Thursday,dayInWeek_Tuesday,dayInWeek_Wednesday,weekendflag_0,weekendflag_1
0,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,...,61200,0,1,0,0,0,0,0,1,0
1,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,...,61800,0,1,0,0,0,0,0,1,0
2,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,...,62400,0,1,0,0,0,0,0,1,0
3,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,...,63000,0,1,0,0,0,0,0,1,0
4,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,...,63600,0,1,0,0,0,0,0,1,0
5,50,40,19.890000,46.026667,19.200000,44.500000,19.790000,44.933333,18.890000,45.730000,...,64200,0,1,0,0,0,0,0,1,0
6,60,50,19.890000,45.766667,19.200000,44.500000,19.790000,44.900000,18.890000,45.790000,...,64800,0,1,0,0,0,0,0,1,0
7,60,50,19.856667,45.560000,19.200000,44.500000,19.730000,44.900000,18.890000,45.863333,...,65400,0,1,0,0,0,0,0,1,0
8,60,40,19.790000,45.597500,19.200000,44.433333,19.730000,44.790000,18.890000,45.790000,...,66000,0,1,0,0,0,0,0,1,0
9,70,40,19.856667,46.090000,19.230000,44.400000,19.790000,44.863333,18.890000,46.096667,...,66600,0,1,0,0,0,0,0,1,0
10,230,70,19.926667,45.863333,19.356667,44.400000,19.790000,44.900000,18.890000,46.430000,...,67200,0,1,0,0,0,0,0,1,0
11,580,60,20.066667,46.396667,19.426667,44.400000,19.790000,44.826667,19.000000,46.430000,...,67800,0,1,0,0,0,0,0,1,0
12,430,50,20.133333,48.000000,19.566667,44.400000,19.890000,44.900000,19.000000,46.363333,...,68400,0,1,0,0,0,0,0,1,0
13,250,40,20.260000,52.726667,19.730000,45.100000,19.890000,45.493333,19.000000,47.223333,...,69000,0,1,0,0,0,0,0,1,0
14,100,10,20.426667,55.893333,19.856667,45.833333,20.033333,47.526667,19.000000,48.696667,...,69600,0,1,0,0,0,0,0,1,0
15,100,10,20.566667,53.893333,20.033333,46.756667,20.100000,48.466667,19.000000,48.490000,...,70200,0,1,0,0,0,0,0,1,0
16,90,10,20.730000,52.660000,20.166667,47.223333,20.200000,48.530000,18.926667,48.156667,...,70800,0,1,0,0,0,0,0,1,0
17,70,30,20.856667,53.660000,20.200000,47.056667,20.200000,48.447500,18.890000,47.963333,...,71400,0,1,0,0,0,0,0,1,0
18,80,30,20.890000,51.193333,20.200000,46.330000,20.200000,48.193333,18.963333,48.630000,...,72000,0,1,0,0,0,0,0,1,0
19,140,40,20.890000,49.800000,20.200000,46.026667,20.166667,47.633333,19.033333,49.500000,...,72600,0,1,0,0,0,0,0,1,0
20,120,20,20.890000,48.433333,20.200000,45.722500,20.166667,47.300000,19.175000,49.947500,...,73200,0,1,0,0,0,0,0,1,0
21,190,40,20.963333,47.633333,20.260000,45.530000,20.200000,47.026667,19.260000,49.696667,...,73800,0,1,0,0,0,0,0,1,0
22,110,40,21.033333,47.063333,20.290000,45.223333,20.260000,46.826667,19.323333,49.166667,...,74400,0,1,0,0,0,0,0,1,0
23,110,40,21.100000,46.596667,20.356667,44.963333,20.290000,46.633333,19.390000,48.426667,...,75000,0,1,0,0,0,0,0,1,0
24,110,30,21.133333,46.060000,20.426667,44.760000,20.290000,46.433333,19.390000,48.193333,...,75600,0,1,0,0,0,0,0,1,0
25,110,20,21.200000,45.800000,20.500000,44.760000,20.390000,46.223333,19.390000,47.800000,...,76200,0,1,0,0,0,0,0,1,0
26,100,30,21.290000,45.900000,20.533333,45.090000,20.390000,46.090000,19.390000,47.560000,...,76800,0,1,0,0,0,0,0,1,0
27,100,20,21.356667,45.826667,20.666667,45.163333,20.390000,46.090000,19.390000,47.500000,...,77400,0,1,0,0,0,0,0,1,0
28,100,20,21.390000,45.690000,20.700000,45.060000,20.390000,46.090000,19.426667,47.993333,...,78000,0,1,0,0,0,0,0,1,0
29,100,20,21.500000,45.333333,20.700000,44.933333,20.390000,46.060000,19.566667,48.466667,...,78600,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19705,280,0,25.033333,48.363333,26.528571,40.595714,28.496667,41.900000,24.500000,45.066667,...,47400,1,0,0,0,0,0,0,1,0
19706,240,0,25.166667,48.156667,26.600000,40.940000,28.290000,41.966667,24.500000,45.333333,...,48000,1,0,0,0,0,0,0,1,0
19707,250,0,25.323333,47.930000,26.600000,41.012857,28.200000,42.090000,24.533333,45.566667,...,48600,1,0,0,0,0,0,0,1,0
19708,220,0,25.390000,47.656667,26.600000,41.036000,28.200000,42.030000,24.600000,45.760000,...,49200,1,0,0,0,0,0,0,1,0
19709,230,0,25.500000,47.133333,26.600000,41.000000,28.200000,41.796667,24.600000,45.790000,...,49800,1,0,0,0,0,0,0,1,0
19710,190,10,25.500000,47.060000,26.540000,41.000000,28.200000,41.530000,24.600000,45.863333,...,50400,1,0,0,0,0,0,0,1,0
19711,160,0,25.600000,46.990000,26.512500,41.203750,28.200000,41.590000,24.633333,46.030000,...,51000,1,0,0,0,0,0,0,1,0
19712,80,0,25.600000,46.730000,26.437143,41.384286,28.426667,41.430000,24.700000,46.090000,...,51600,1,0,0,0,0,0,0,1,0
19713,60,0,25.566667,46.633333,26.370000,41.378000,28.566667,41.156667,24.700000,45.966667,...,52200,1,0,0,0,0,0,0,1,0
19714,60,0,25.500000,46.360000,26.318571,41.264286,28.566667,40.663333,24.700000,45.826667,...,52800,1,0,0,0,0,0,0,1,0
19715,60,0,25.500000,46.060000,26.350000,41.000000,28.426667,40.590000,24.666667,45.526667,...,53400,1,0,0,0,0,0,0,1,0
19716,60,0,25.500000,45.933333,26.277143,41.000000,28.356667,40.560000,24.666667,45.400000,...,54000,1,0,0,0,0,0,0,1,0
19717,70,0,25.500000,45.760000,26.200000,41.000000,28.290000,40.433333,24.700000,45.363333,...,54600,1,0,0,0,0,0,0,1,0
19718,80,0,25.500000,45.626667,26.171429,41.000000,28.260000,40.260000,24.700000,45.230000,...,55200,1,0,0,0,0,0,0,1,0
19719,80,0,25.500000,45.590000,26.100000,41.000000,28.200000,40.126667,24.700000,45.163333,...,55800,1,0,0,0,0,0,0,1,0
19720,70,0,25.500000,45.522500,26.100000,41.051429,28.200000,40.200000,24.700000,45.163333,...,56400,1,0,0,0,0,0,0,1,0
19721,100,0,25.500000,45.633333,26.080000,41.196000,28.133333,40.260000,24.700000,45.300000,...,57000,1,0,0,0,0,0,0,1,0
19722,100,0,25.500000,45.730000,26.000000,41.428571,28.100000,40.433333,24.700000,45.433333,...,57600,1,0,0,0,0,0,0,1,0
19723,90,0,25.500000,45.790000,26.000000,41.590000,28.100000,40.560000,24.700000,45.500000,...,58200,1,0,0,0,0,0,0,1,0
19724,100,0,25.500000,45.933333,26.000000,41.652857,28.000000,40.700000,24.700000,45.466667,...,58800,1,0,0,0,0,0,0,1,0
19725,220,0,25.426667,46.060000,26.000000,41.700000,28.000000,40.760000,24.700000,45.400000,...,59400,1,0,0,0,0,0,0,1,0
19726,180,0,25.500000,46.530000,26.000000,41.725714,27.856667,40.500000,24.700000,45.500000,...,60000,1,0,0,0,0,0,0,1,0
19727,120,0,25.500000,47.456667,26.000000,42.320000,27.663333,40.693333,24.700000,45.560000,...,60600,1,0,0,0,0,0,0,1,0
19728,110,0,25.600000,47.193333,25.968571,42.528571,27.390000,41.030000,24.700000,45.626667,...,61200,1,0,0,0,0,0,0,1,0
19729,90,0,25.533333,46.860000,25.978000,42.534000,27.323333,41.090000,24.700000,45.626667,...,61800,1,0,0,0,0,0,0,1,0
19730,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,...,62400,1,0,0,0,0,0,0,1,0
19731,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,...,63000,1,0,0,0,0,0,0,1,0
19732,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,...,63600,1,0,0,0,0,0,0,1,0
19733,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,...,64200,1,0,0,0,0,0,0,1,0
19734,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,...,64800,1,0,0,0,0,0,0,1,0

# Train and Test

In [8]:
# Train/test split
X = df.drop('Appliances',axis=1)
y = df['Appliances']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

y_train = y_train.ravel()
y_test = y_test.ravel()

print('Training dataset shape:', X_train.shape, y_train.shape)
print('Testing dataset shape:', X_test.shape, y_test.shape)

Training dataset shape: (13814, 35) (13814,)
Testing dataset shape: (5921, 35) (5921,)

# Linear Regressor with Exhaustive Search

In [37]:
lr1 = LinearRegression()

In [15]:
# Build RF classifier to use in feature selection
#rf1 = LinearRegression( n_jobs=-1)

In [38]:
#Build ExhaustiveFeatureSelector
efs = EFS(lr1,
        min_features=3,
        max_features=4,
        scoring='neg_mean_squared_error',
        cv=0)

In [39]:
efs = efs.fit(X_train.values, y_train)

Features: 58905/58905

In [13]:
#print('Selected features:', efs.best_idx_)

Selected features: (0, 2, 4, 16)

In [43]:
feat_cols = list(efs.best_idx_)
print(feat_cols)

[0, 2, 4, 16]

In [45]:
lr1.fit(X_train.iloc[:, feat_cols], y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [46]:
pred = lr1.predict(X_test.iloc[:,feat_cols])

In [47]:
r2_score(y_test,pred)

0.11544846707140755

In [48]:
print(mean_absolute_error(y_test,pred))
print(mean_squared_error(y_test,pred))

55.10267618162067
9413.427985171887

In [9]:
lr2 = LinearRegression()

In [10]:
lr2.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [11]:
preds_all_features = lr2.predict(X_test)

In [12]:
r2_score(y_test,preds_all_features)

0.17646027028152234

In [13]:
print(mean_absolute_error(y_test,preds_all_features))
print(mean_squared_error(y_test,preds_all_features))

53.78235804565764
8764.138266728476

### We can see that out of all the 30 features since we are only using 3 or 4 in our EFS model, therefore our EFS model is performing poorly as compared to the non-EFS model